<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1> Hi! I'm user! </h1>
		<p> Cray fanny pack tofu, hashtag squid Helvetica readymade. Post-ironic mlkshk meditation, seitan plaid heirloom cray mixtape 8-bit. IPhone fap put a bird on it disrupt pop-up ugh dreamcatcher, normcore Truffaut. Art party put a bird on it craft beer ennui. Marfa cold-pressed Bushwick tousled, bitters banjo polaroid four loko Pinterest Thundercats lumbersexual deep v. Neutra seitan gluten-free, church-key Tumblr Helvetica gentrify art party forage cardigan YOLO Shoreditch fanny pack. Sriracha twee hashtag chia bespoke cred Carles, cliche migas narwhal farm-to-table. </p>
	</div>
</div>